/bowlerstudio_*/
/build-area/
/testPackage/
/bowlerstudio-*.zip
/bowlerstudio_*.orig.tar.gz
/bowlerstudio.deb
/CSGdatabase.json
/rdk.tar.gz
/rdk*
/*.build
/*.gz
/*.dsc
/*.changes
/*.upload
/*.deb
/*.xz
/.bzr/
/bowlerstudio/
/bowlerstudio*/
/rdk.tar
/bowlerstudio_*_source.buildinfo
